body {
    margin: 0;
    font-size: 0.8em;
    font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
}

nav li,
.footer-container li {
    display: inline-block;
    list-style: none;
}

ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-top {
    height: 30px;

    text-transform: capitalize;
    
    background-color: black;
}

.nav-top a,
.nav-bottom a {
    text-decoration: none;
    color: gray;
}

.nav-top a:hover,
.footer-links li:hover,
#news-link {
    color: white;
}

.nav-top li {
    padding-right: 10px
}

.nav-top-left {
    margin-left: 16px;
}

.nav-bottom {
    height: 48px;

    text-transform: uppercase;
}

.nav-bottom-right {
    display: inline-flex;
    align-items: center;
    float: right;
    height: 100%;

    border-left: 1px solid rgba(155, 155, 155, 0.282);
}

.nav-bottom-right img {
    height: 100%;
}

.nav-bottom-right svg {
    padding: 16px;
    color: rgba(0, 0, 0, 0.508);
}

.search-icon-container {
    padding: 13px;
}

.countdown {
    padding: 0 10px;

    font-size: 1.7em;
    color: red;
}

.btn-tickets {
    height: 28px;
    width: 90px;
    margin-right: 10px;

    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.8em;

    border: none;
    border-radius: 3px;

    background-color: #00cccc;
}

.btn-tickets:hover {
    background-color: #90c;
}

.nav-bottom a:hover,
.nav-bottom-right svg:hover {
    color: black;
}

.nav-bottom-left li {
    height: 100%;
    padding: 16px;
}

.popup-info {
    height: 30px;

    color: black;
    text-transform: capitalize;
    line-height: 30px;

    background-color: #ffdd33;
}

.popup-info p {
    margin: 0 16px;
}

.main-article-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    height: 75vh;
    max-height: 560px;
    padding: 4px;
    margin-bottom: 80px;
}

#grid1 {
    grid-row: span 2;
}

.article-container {
    position: relative;
    color: white;

    background-image: url(images/Smash-Bros-Minecraft.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.black-gradient {
    background: linear-gradient(0deg, rgba(0,0,0,.99) 0%, rgba(21, 21, 21, 0.131) 100%);
    height: 100%;
}

.logo-gradient {
    background: linear-gradient(132deg, rgba(255, 0, 0, 0.8) 0%, rgba(255,255,255,.01) 100%); 
    height: 100%;
}

.tnw-logo {
    max-width: 50%;
}

.logo-container {
    padding: 20px;
}

.article-header {
    position: absolute;
    bottom: 4px;
    padding: 20px;
}

.article-date {
    float: right;
    font-size: 1.3em;
    text-transform: capitalize;
}

.author-footer {
    color: gray;
}

.category {
    margin: 0;

    font-family: avalon,sans-serif;
    font-size: 1.2em;
    font-weight: 100;
    text-transform: uppercase;
}

.article-title {
    margin: 10px 0;
    line-height: 1;
}

#main-title {
    font-size: 56px;
}

.latest-section {
    max-width: 1200px;
    margin: 0 auto;
}

.latest-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 100px;
}

.latest-container {
    padding: 10px;
}

img[src="images/apple-watch-image.jpg"],
img[src="images/apple-watch-charger.jpg"],
img[src="images/card.png"] {
    width: 100%;
}

.latest-title {
    margin: 4px 0;
    text-transform: capitalize;
}

.latest-author-date {
    color: rgba(141, 141, 141, 0.836);
}

h2 {
    margin: 0;
    
    text-transform: capitalize;
    color: #ff4422;
}

.latest {
    margin-bottom: 100px;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    max-width: 1200px;
    margin: 0 auto;
}

.height-adjust {
    height: 250px;
}

.heading {
    position: absolute;
    bottom: 4px;
}

.category-container {
    padding: 10px;
}

.cat-latest-container {
    display: flex;
    flex-shrink: 0;

    color: #ff4422;

    background-color: #fff4f2;
}

.cat-latest-container img {
    height: 96px;
    width: 96px;
}

.list-item {
    margin-left: 1em;
    padding: 6px;

    border-bottom: 1px solid rgba(174, 174, 174, 0.323);
}

.list-item::marker {
    color: #ff4422;
}

.latest-description {
    padding: 15px;
    flex-grow: 2;
}

.footer-container {
    margin-top: 100px;
    padding: 50px 0;
    background-color: #131313;

    color: gray;
    text-align: center;
}

.social-links {
    margin-bottom: 20px;
}

.footer-links {
    display: block;
    text-transform: uppercase;
}

.footer-container li {
    margin: 0 4px;
}

.social-links li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;

    background-color: #333333;

    border-radius: 100%;
}

li svg {
    position: absolute;
}

li path {
    fill: white;
}

.footer-legal {
    height: 75px;
    justify-content: center;

    color: gray;
    text-align: center;
    background-color: black;
}

.hide3 {
    display: none;
}

@media screen and (max-width: 1020px) {

    .hide {
        display: none;
    }

    .category-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .latest-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .main-article-grid {
        height: 60vh;
        max-height: 450px;
    }

     #main-title {
        font-size: 40px;
    }

     .article-title{
        font-size: 1.3em;
    }

     .article-header {
        padding: 10px;
    }

}

@media screen and (max-width: 800px) {

    .hide2 {
        display: none;
    }

    .category-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .latest-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .main-article-grid {
        grid-template-columns: 1fr;
        height: 85vh;
        max-height: 100%;
    }

    #grid1 {
        grid-row: span 1;
    }

    #main-title,
    .article-title {
        font-size: 1.4em;
    }

    .nav-logo {
        display: inline-flex;
        justify-content: center;
        height: 100%;
        width: 100px;
        background-color: black;
    }

    img[src="images/apple-watch-image.jpg"],
    img[src="images/apple-watch-charger.jpg"] {
        height: 75px;
        width: 75px;
        object-fit: cover;
    }

    .latest-container {
        display: flex;
    }
    
    .latest-container > div {
        padding: 0 20px;
        font-size: 0.9em;
    }

}
