body {
    margin: 0;
    font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
}

li {
    display: inline-block;
    list-style: none;
}

ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-top {
    height: 30px;

    font-size: 0.8em;
    text-transform: capitalize;
    
    background-color: black;
}

.nav-top a {
    text-decoration: none;
    color: gray;
}

.nav-top a:hover {
    color: white;
}

.nav-top li {
    padding-right: 10px
}

.nav-top-left {
    margin-left: 16px;
}

#news-link {
    color: white;
}

.nav-bottom {
    height: 48px;

    font-size: 0.8em;
    text-transform: uppercase;
}

.nav-bottom a {
    text-decoration: none;
    color: gray;
}

.nav-bottom-right {
    display: inline-flex;
    align-items: center;
    float: right;
    height: 100%;

    border-left: 1px solid rgba(155, 155, 155, 0.282);
}

@media screen and (max-width: 1110px) {
    .nav-bottom-right {
        display: none;
    }
}

.nav-bottom-right img {
    height: 100%;
}

.nav-bottom-right svg {
    padding: 16px;
    color: rgba(0, 0, 0, 0.508);
}

.search-icon-container {
    padding: 13px;
}

.countdown {
    padding: 0 10px;

    font-size: 1.7em;
    color: red;
}

.btn-tickets {
    height: 28px;
    width: 90px;
    margin-right: 10px;

    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.8em;

    border: none;
    border-radius: 3px;

    background-color: #00cccc;
}

.btn-tickets:hover {
    background-color: #90c;
}

.nav-bottom a:hover,
.nav-bottom-right svg:hover {
    color: black;
}

.nav-bottom-left li {
    height: 100%;
    padding: 16px;
}

.popup-info {
    height: 30px;

    color: black;
    font-size: 0.8em;
    text-transform: capitalize;
    line-height: 30px;

    background-color: #ffdd33;
}

.popup-info p {
    margin: 0 16px;
}

.main-article-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    margin-bottom: 80px;
    height: 60vh;
    max-height: 560px;
    padding: 4px;
}

#grid1 {
    grid-row: span 2;
}

.article-container {
    position: relative;
    color: white;

    background-image: url(images/ipad-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.black-gradient {
    background: linear-gradient(0deg, rgba(0,0,0,.99) 0%, rgba(21, 21, 21, 0.131) 100%);
    height: 100%;
}

.logo-gradient {
    background: linear-gradient(132deg, rgba(255, 0, 0, 0.8) 0%, rgba(255,255,255,.01) 100%); 
    height: 100%;
    z-index: 1;
}

.tnw-logo {
    max-width: 50%;
}

.logo-container {
    padding: 20px;
}

.article-header {
    position: absolute;
    bottom: 4px;
    padding: 20px;
}

.article-date {
    float: right;
    text-transform: capitalize;
}

.author-footer {
    font-size: 0.8em;
    color: gray;
}

.category {
    margin: 0;

    font-family: avalon,sans-serif;
    font-size: 1em;
    font-weight: 100;
    text-transform: uppercase;

}

.article-title {
    margin: 10px 0;
    font-size: 1.5em;
    line-height: 1;
}

#main-title {
    font-size: 56px;
}

.latest-news-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0fr 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
}

.latest-container {
    padding: 10px;

    font-size: 0.8em;

}

img[src="images/apple-watch-image.jpg"],
img[src="images/apple-watch-charger.jpg"],
img[src="images/card.png"] {
    width: 100%;
}

.latest-title {
    margin: 4px 0;
    text-transform: capitalize;
}

.latest-author-date {
    color: rgba(141, 141, 141, 0.836);
}

h2 {
    grid-column: span 4;
    margin: 0;

    color: #ff4422;
}

.latest {
    margin-bottom: 100px;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;
}

.category-container {
    padding: 15px;
}

.height-adjust {
    height: 250px;
}

.heading {
    position: absolute;
    bottom: 4px;
}